<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>976024703467-9orgp6b5v6aglo2u6kh02v9tia92k3e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976024703467-9orgp6b5v6aglo2u6kh02v9tia92k3e5</string>
	<key>API_KEY</key>
	<string>AIzaSyDugMed3hqlgHBcgFHTUaEbcHafC_yskSk</string>
	<key>GCM_SENDER_ID</key>
	<string>976024703467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiliya.em</string>
	<key>PROJECT_ID</key>
	<string>emtest-186ce</string>
	<key>STORAGE_BUCKET</key>
	<string>emtest-186ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:976024703467:ios:bee4b3455d91bd0a</string>
	<key>DATABASE_URL</key>
	<string>https://emtest-186ce.firebaseio.com</string>
</dict>
</plist>