<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>107379564375-qd0mb1r8mmiclgng3o1ns4fbh8fs2lm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107379564375-qd0mb1r8mmiclgng3o1ns4fbh8fs2lm3</string>
	<key>API_KEY</key>
	<string>AIzaSyAtrjoz4YS9G-5jm8iVRFnZTLfGYSf4RlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>107379564375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiliya.csu</string>
	<key>PROJECT_ID</key>
	<string>csu-android-app</string>
	<key>STORAGE_BUCKET</key>
	<string>csu-android-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:107379564375:ios:4b44ba0db8a92617</string>
	<key>DATABASE_URL</key>
	<string>https://csu-android-app.firebaseio.com</string>
</dict>
</plist>